@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    min-height: 100vh;
    scroll-behavior: smooth;
  }

  body {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    font-family: "Roboto", sans-serif;
  }

  textarea {
    background: transparent;
  }

  a {
    color: inherit;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(90deg, #996DFF 0%, #C7AFFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}